/* Général */

.container{
    font-family: 'Open Sans Condensed', sans-serif;
}

header, footer{
    background-color: #F3E9F1;
    font-weight: bold;
}

/* Header */

header{
    font-size: 20px;
}

nav{
    justify-content: space-between;
}

.nav-image img{
    width: 200px;
}

.nav-menu{
    padding-left: 70px;
    padding-bottom: 10PX;
}

.navbar-nav a{
    color: black;
    text-decoration: none;
}

li{
    padding-left: 20px;
}

li a:hover{
    color: orange;
    transition: 0.3s;
}

.fa-shopping-bag, .fa-home, .fa-info, .fa-headset, .fa-question{
    padding-left: 5px;
    padding-right: 5px;
}

/* Page index */
.titre{
    padding-bottom: 20px;
}

.titre h1, .titre h2{
    font-weight: bold;
    text-align: center;
}

#Furniture{
    padding: 20px;
}
.card-body{
    border: #F3E9F1 solid 2px;
    text-align: center;
}

.card-body img{
    width: 280px;
    border-radius: 10px 10px 10px 10px;
}

.card-title{
    font-weight: bold;
}

.acces_produit{
    text-decoration: none;
    color: black;
    background-color: orange;    
    border: 5px solid orange;
    border-radius: 20px 20px 20px 20px;
}

.card-body a:hover{
    background-color: black;
    border: 5px solid black;
    color: orange;
    transition: 0.5s;
}

footer{
    padding: 20px;
}

.footer_1{
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.footer_1 a{
    color: black;
    text-decoration: none;
    font-size: 17px;
}

footer a:hover{
    color: orange;
    transition: 0.3s;
}

/* Page Produit */
#Furniture_produit{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.produit_image img{
    height: 250px;
}

.card-body-1{
    border: #F3E9F1 solid 2px;
    text-align: center;
    padding: 30px;
}

.produit_image img{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.choix_couleur{
    width: 100px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid orange;
}

.card-prix{
    font-weight: bold;
}

.ajout_panier, .acces_produit{
    text-decoration: none;
    color: black;
    background-color: orange;    
    border: 5px solid orange;
    border-radius: 20px 20px 20px 20px;
}

.ajout_panier:hover, .acces_produit:hover{
    background-color: black;
    border: 5px solid black;
    color: orange;
    transition: 0.5s;
}

/* Page Panier */
.panier{
    text-align: left;
    margin: 15px;
    border: #F3E9F1 solid 2px;
}

.recapitulatif{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.panier-vide{
    text-align: center;
    padding: 150px;
    margin-bottom: 20px;
}

.ligne_panier2{
    padding-top: 150px;
    margin-bottom: -130px;
}

.fa-battery-empty{
    color: red;
    font-size: 30px;
}

.bouton_supprimer, .tout_supprimer_panier{
    text-decoration: none;
    color: black;
    background-color: orange;    
    border: 5px solid orange;
    border-radius: 20px 20px 20px 20px;
}

.tout_supprimer_panier{
    margin-bottom: 10px;
    border: 1px solid orange;
}

.bouton_supprimer:hover{
    background-color: black;
    border: 5px solid black;
    color: orange;
    transition: 0.5s;
}

.ligne_panier, .ligne_panier2{
    border-bottom: 8px solid #F3E9F1;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.prix_total{
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.produit_image_panier img{
    width: 70%;
    border-radius: 10px 10px 10px 10px;
}

.formulaire{
    margin-top: 30px;
    padding-right: 20px;
}

.final_commande{
    color: red;
}

.recap_form{
    margin: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #F3E9F1;
    border-radius: 10px 10px 10px 10px;
}

.form-group, label{
    padding: 5px;
}

label{
    font-weight: bold;
}

.button_space, .button_space1{
    text-align: center;
    margin-top: 10px;
}

.button_commande{
    display: inline-flex;
    font-weight: bold;
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: orange;    
    border: 5px solid orange;
    border-radius: 20px 20px 20px 20px;
}

.button_commande:hover{
    background-color: black;
    border: 5px solid black;
    color: orange;
    transition: 0.5s;
}

/* Page Commande */

.commande{
    padding: 20px;
    border: #F3E9F1 solid 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.recap_commande i{
    color: red;
}

.recap_commande p{
    margin-bottom: -2px;
}

.fa-battery-full{
    font-size: 30px;
    color: green;
}

.commande_thanks, .commande_image, .commande_colis, .commande_reference, .commande_prix{
    padding: 25px;
}

.fa-smile{
    font-size: 20px;
    color: green;
    padding-left: 10px;
}

/* Media queries */

@media all and (min-width: 768px) and (max-width: 1920px){
    nav{
        display: flex;
    }
    ul{
        padding-top: 35px;
    }
    .produit_image img{
        height: 400px;
    }
    .produit_image_panier img{
        width: 25%;
    }
    .button_commande{
        width: 85px;
    }
}

@media all and (min-width: 300px) and (max-width: 340px){
    .card-body img{
        width: 200px;
    }
}